@import url(./root.css);
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inconsolata:wght@200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Yellowtail&display=swap');

.container {
    max-width: 1320px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;

}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

/*1st page*/

@import url(./root.css);
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');




.bg-black {
    background-color: black;
}

.mw-1207 {
    max-width: 1207px;
}


.text-white {
    color: white;
}



.fw-400 {
    font-weight: 400px;
}

.lh-90px {
    line-height: 90px;
}

.ff-acme {
    font-family: "Acme", sans-serif;
}


/*flex box layout*/
.text-center {
    text-align: center;
}

.w-100 {
    width: 100%;
}

.btn-1 {
    border-radius: 3rem;
    background-color: blue;
    color: #fff;
    display: inline-block;
    cursor: pointer;
    padding: 11px 28px;
    border: none;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin: 10px;
}

.ml-15 {
    margin-left: 15px;
}

.card {
    background-color: #fff;
    border-radius: 1rem;
    border: none;
    padding: 25px 30px;

    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-left: 10px;
    margin-bottom: 20px;
}

.card:hover {
    box-shadow: 0px 8px 35px 0px rgba(0, 0, 0, 0.1);
    border-color: transparent;
}

.min-vh-100 {
    min-height: 100vh;
}

.d-flex {
    display: flex;
}

.bg-white {
    background-color: white;
}

.text-color {
    opacity: 60%;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.mb-24 {
    margin-bottom: 24px;
}

.col-3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-4 {
    width: 33.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-5 {
    width: 41.66%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-7 {
    width: 58.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-8 {
    width: 66.66%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-9 {
    width: 75%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

.ff-poppins {
    font-family: "Poppins", sans-serif;
}

.fs-24 {
    font-size: 24px;
}

.fw-100 {
    font-weight: 100px;
}

.lh-50 {
    line-height: 50px;
}

.heading {
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    text-align: center;
    padding-bottom: 20px;
    text-indent: center;
    font-family: "poppins", sans-serif;
}

/*layout*/
.card-image {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

h4 {
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
}

.modify2 {
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
    text-align: center;
    color: rgba(123, 123, 123, 1);

}

.iconboxcontainer {
    position: absolute;
    top: 50%;
    right: -100%;
    transform: translateY(-50%);
    transition: all 200ms linear;
}

.iconbox {
    height: 40px;
    width: 40px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5px;
    transition: all 200ms linear;
}

.iconbox:hover {
    background: #FF5300;
}

.iconbox:hover svg path {
    fill: white;
}

.card-image:hover .iconboxcontainer {
    right: 0;
}

.position-relative {
    position: relative;
}

/*logo*/

.bg-gray {
    background-color: gray;
}

.text-modify {
    margin-bottom: 10px;
    font-family: "DM Sans", sans-serif;
    font-size: 42px;
    font-weight: 700;

    color: rgba(30, 14, 98, 1);
    display: flex;
    justify-content: center;
    align-items: center;

}

.content1 {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}


.box {
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: lightgrey;

}

.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.icon-logo {
    height: 113px;
    align-items: center;
    justify-content: center;
    display: flex;
    background: rgba(235, 234, 237, 1);
    border-radius: 10px;
}

/*1/3 layout-3*/
.card-layout {
    background-color: #fff;
    box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
    padding: 25px 30px;
    margin-top: 20px;
    padding-bottom: 20px;
}

.text1 {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    color: rgba(37, 43, 66, 1);
}

.content2 {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: rgba(115, 115, 115, 1);
    padding-bottom: 10px;
    margin-top: 20px;
    line-height: 20px;
}

.card-last {
    background-color: #fff;
    box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
    padding: 25px;
}

h2 {
    font-family: "Montserrat", sans-serif;
    text-align: left;
    color: rgba(37, 43, 66, 1);
    left: 30px;
    padding: 20px 0px 20px 0px;
}


.text-2 {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: rgba(21, 20, 57, 0.4);
    text-align: justify;
    margin-top: 15px;
}

.boxicon {
    width: 70px;
    padding: 20px 19px 20px 19px;
    border-radius: 1rem;
    background: rgba(182, 215, 255, 1);
    margin-bottom: 30px;
}

.mr-15 {
    margin-right: 15px;
}

.mt-20 {
    margin-top: 20px;
}


.indent {
    font-family: "DM Sans", sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 50px;
    color: rgba(252, 114, 77, 1);
    margin-right: 10px;
}

/*content-34*/

.text-text1 {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: rgba(21, 20, 57, 0.4);
    margin-top: 15px;
    text-align: justify;

}


.text-change {
    font-family: "inconsolata", sans-serif;
    font-size: 16px;
    line-height: 22px;
    border-radius: 10px;
    color: rgba(30, 14, 98, 1);
    background: rgba(235, 234, 237, 1);
    white-space: nowrap;
    overflow: auto;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*
.over-flow-auto {
    overflow: auto;
}
*/
.heading1 {
    font-family: "DM Sans", sans-serif;
    font-size: 30px;
    line-height: 52px;
    letter-spacing: -0.4000000059604645px;
    color: rgba(30, 14, 98, 1);

}


.svg {
    font-family: "DM Sans", sans-serif;
    text-indent: 10px;
    color: rgba(30, 14, 98, 1);
    margin-top: 50px;
}

.copybtn {
    color: rgba(30, 14, 98, 1);
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    border-radius: 30px;
    cursor: pointer;
    border: 2px solid rgba(235, 234, 237, 1);
    margin-top: 20px;
    padding: 10px 50px 10px 50px;
    background-color: white;
    float: right;
}

/*pricing_table_3*/

.pricing-table {
    border-collapse: collapse;
    border: 2px solid rgba(235, 234, 237, 1);
    width: 100%;
}

.responsive-table {
    overflow: auto;
}

th,
td {
    padding-left: 50px;
    padding-right: 50px;
    color: rgba(30, 14, 98, 1);
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 20px;
    text-align: center;
    border: 2px solid rgba(235, 234, 237, 1);

}




.middle-btn1 {
    font-family: "DM Sans", sans-serif;
    width: 230px;
    height: 50px;
    border-radius: 32px;
    border: 2px solid rgba(235, 234, 237, 1);
    cursor: pointer;
}

.dark-btn {
    width: 230px;
    height: 50px;
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    color: white;
    border: rgba(37, 218, 197, 1);
    border-radius: 100px;
    cursor: pointer;
}

.bg-safari {
    background-color: rgba(37, 218, 197, 1);

}

.modify {
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 2px;
    text-align: right;
    color: rgba(21, 20, 57, 0.4);

}

.text-header {
    font-family: "DM Sans", sans-serif;
    font-size: 50px;
    line-height: 52px;
    letter-spacing: -0.4000000059604645px;
    text-align: center;
    color: rgba(30, 14, 98, 1);
    padding-right: 52px;
}

.modify1 {
    font-family: "DM Sans", sans-serif;
    font-size: 58px;
    line-height: 70px;
    letter-spacing: -1px;
    text-align: center;

}

.paragraph {
    font-family: "DM Sans", sans-serif;
    font-size: 15px;
    line-height: 26px;
    text-align: center;
    color: rgba(30, 14, 98, 1);
}

.text-left {
    text-align: left;
}

.bg-grey {
    background-color: rgba(235, 234, 237, 0.925);
}

.icon-dollor {
    position: absolute;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    text-align: center;
    top: 50%;
    right: 50%;
    transform: translateY(-50%);
    padding-right: 40px;
    padding-top: 60px;

}


/*footer_5*/

.article {
    font-family: "DM Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 31.25px;
    letter-spacing: -0.2926828861236572px;
    color: rgba(30, 14, 98, 1);
}

.justify-content-between {
    justify-content: space-between;
}

.text {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    text-align: left;
    color: rgba(21, 20, 57, 0.4);

}

.article-1 {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: rgba(30, 14, 98, 1);
    padding-bottom: 20px;
}

.menu-card {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    line-height: 30px;
    /* text-align: center; */
    color: rgba(30, 14, 98, 1);
    margin-top: 20px;
}


.article-3 {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    line-height: 28px;
    text-align: left;
    color: rgba(30, 14, 98, 1);
    margin-top: 20px;

}

.form-text {
    width: 230px;
    height: 40px;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    white-space: nowrap;
    margin-top: 20px;
    padding-left: 10px;
    color: rgba(21, 20, 57, 0.4);
    border-radius: 100px;
    border: 2px solid rgba(235, 234, 237, 1);
}

.form-btn {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    line-height: 22px;
    cursor: pointer;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    background: rgba(37, 218, 197, 1);
    border-radius: 100px;
    padding: 10px 20px 10px 20px;

}

.social-icon {
    line-height: 90px;
    padding-left: 20px;
}

.text-left {
    text-align: left;
}

.footer-text {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    line-height: 26px;
    margin-top: 50px;
    padding-top: 40px;
    color: rgba(21, 20, 57, 0.4);
    border-top: 2px solid rgba(235, 234, 237, 1);
    width: 100%;
    text-align: center;
}

/*content_32*/

.responsive-payout {
    overflow: auto;
}

.payout {
    border-collapse: collapse;
    margin-right: 50px;
    width: 100%;
}


.Contact {
    font-family: "DM Sans", sans-serif;
    font-size: 42px;
    letter-spacing: -0.4000000059604645px;
    color: rgba(30, 14, 98, 1);

}

.card-tip {
    padding: 30px 30px 30px 0px;
    background: rgba(235, 234, 237, 1);
    margin-top: 80px;
    margin-left: 50px;
}

h5 {
    font-family: "DM Sans", sans-serif;
    font-size: 22px;
    padding-top: 30px;
    padding-left: 30px;
    line-height: 10px;
    text-align: left;
    color: rgba(30, 14, 98, 1);
}

.btn1 {
    border-radius: 30px;
    background: rgba(37, 218, 197, 1);
    color: rgba(255, 255, 255, 1);
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 30px;
}

.changes {
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    color: rgba(21, 20, 57, 0.4);
    border: none;

}


.change-header {
    border-left: none;
    border-right: none;
    border-bottom: none;
    font-family: "DM Sans", sans-serif;
}

.sample {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: rgba(21, 20, 57, 0.4);
    padding-left: 30px;
    padding-top: 20px;
}

/*content_33*/

.style-content {
    border-collapse: collapse;
    width: 100%;
}

.responsive-inside {
    overflow: auto;
}

.table-modify {
    border-top: 2px solid rgba(235, 234, 237, 1);
    border-left: none;
    border-right: none;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;

}

.table-modify-1 {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgba(21, 20, 57, 0.4);
    border-right: none;
    border-left: none;
    text-align: left;
}

.table-change {
    border: none;
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    color: rgba(21, 20, 57, 0.4);

}

.heading-2 {
    font-family: "DM Sans", sans-serif;
    font-size: 42px;
    text-align: center;
    color: rgba(30, 14, 98, 1);

}


/*Get in touch*/

.card-touch {
    width: 368.5px;
    height: 308.5px;
}


.card-touch1 {
    width: 368.5px;

}

.form-2 {
    width: 471px;
    height: 550px;
    background: rgba(235, 234, 237, 1);
    padding-left: 40px;
    padding-top: 50px;
    margin-top: 50px;
}

.label-3 {
    border: 1px solid white;
    height: 50px;
    width: 90px;
    border-radius: 2rem;
}

.message {
    border: 1px solid white;
    height: 170px;
    width: 370px;
}

.content3 {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: rgba(21, 20, 57, 0.4);
    margin-top: 20px;
    margin-left: 30px;
}

.header-1 {
    font-family: "DM Sans", sans-serif;
    font-size: 22px;
    color: rgba(30, 14, 98, 1);
}

.header-2 {
    font-family: "DM Sans", sans-serif;
    font-size: 49px;
    color: rgba(30, 14, 98, 1);
    margin-left: 30px;
}

.header-3 {
    font-family: "DM Sans", sans-serif;
    font-size: 49px;
    color: rgba(30, 14, 98, 1);
}

.call {
    margin-top: 20px;
    margin-left: 20px;
}

.number {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: rgba(30, 14, 98, 1);
    line-height: 50px;
    margin-top: 20px;
}

.email-1 {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: rgba(30, 14, 98, 1);
    margin-top: 10px;

}

.email-icon {
    margin-top: 10px;
    margin-left: 20px;
}

.line-1 {
    margin-top: 20px;
    margin-left: 30px;
}

.paragraph-1 {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    color: rgba(21, 20, 57, 0.4);
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 30px;
}

iframe {
    margin-left: 30px;
}

.form {
    padding: 40px;
    margin-top: 30px;
}

.project {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    color: rgba(21, 20, 57, 0.4);
    padding-top: 20px;
}

.text-change-1 {
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 2px;
    color: rgba(30, 14, 98, 1);
    margin-top: 30px;

}

.name {
    border: 2px solid rgba(235, 234, 237, 1);
    border-radius: 50px 40px 50px 40px;
    color: rgba(21, 20, 57, 0.4);
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    padding-left: 20px;
}

input[type="email"] {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    border: 2px solid rgba(235, 234, 237, 1);
    border-radius: 2rem;
    height: 50px;
    width: 370px;
    margin-bottom: 24px;
}

.drop-us {
    background: rgba(255, 255, 255, 1);
    border: 2px solid rgba(235, 234, 237, 1);
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 110px;
    padding-left: 10px;
    text-align: left;
    color: rgba(21, 20, 57, 0.4);
    height: 170px;
    width: 370px;
    margin-bottom: 24px;
}

input[type="name"] {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: rgba(30, 14, 98, 1);
    letter-spacing: 1px;
    height: 50px;
    width: 270px;
    border: 2px solid rgba(235, 234, 237, 1);
    border-radius: 2rem;
    padding-left: 10px;
}

.label-3 {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    background: rgba(37, 218, 197, 1);
    border-radius: 40px 40px 40px 40px;

}

.max-w-770 {
    max-width: 770px;
}

.w-770 {
    width: 770px;
}


/*sm*/
@media(min-width:576px) {
    .col-sm-3 {
        width: 25%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-sm-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }


    .mb-sm-0 {
        margin-bottom: 0px;
    }


}

/*md*/
@media(min-width:768px) {
    .col-md-3 {
        width: 25%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-md-4 {
        width: 33.33%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-md-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .mb-md-0 {
        margin-bottom: 0px;
    }
}

/*lg*/
@media(min-width:992px) {
    .col-lg-3 {
        width: 25%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-lg-4 {
        width: 33.33%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-lg-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-lg-8 {
        width: 66.66%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-lg-9 {
        width: 75%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .mb-lg-0 {
        margin-bottom: 0px;
    }
}

@media(max-width:992px) {
    .responsive-table {
        overflow: auto;
    }

    .responsive-payout {
        overflow: auto;
    }

    .responsive-inside {
        overflow: auto;
    }
}